<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
        {% block title %}GoonPUG Stats{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='ico/apple-touch-icon-57-precomposed.png') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.png') }}">

  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ url_for('index') }}">GoonPUG</a>
          <div class="nav-collapse collapse">
              <p class="navbar-text pull-right">
              {% if g.user and g.user.is_authenticated() %}
              Logged in as <a href="/player/{{ g.user.id }}" class="navbar-link">{{ g.user.nickname }}</a> (<a href="{{ url_for('logout') }}">Log out</a>)
              {% else %}
              <a href="{{ url_for('login') }}"><img src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png" alt="Sign in through Steam" /></a>
              {% endif %}
              </p>
            <ul class="nav">
                <li {% if request.endpoint == 'index' %}class="active"{% endif %}><a href="{{ url_for('index') }}">Home</a></li>
                <li class="dropdown {% if request.endpoint.startswith('stats') %} active {% endif %}">
                  <a class="dropdown-toggle" role="button" data-hover="dropdown" data-target="#" href="{{ url_for('stats') }}" >Stats <b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu">
                      <li {% if request.endpoint == 'stats_player' %}class="active disabled"{% endif %}><a href="{{ url_for('stats_player') }}">Player Stats</a></li>
                      <li {% if request.endpoint == 'stats_map' %}class="active disabled"{% endif %}><a href="{{ url_for('stats_map') }}">Map Stats</a></li>
                      <li {% if request.endpoint == 'stats_weapon' %}class="active disabled"{% endif %}><a href="{{ url_for('stats_weapon') }}">Weapon Stats</a></li>
                  </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
  </div>

    <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">&times;</a>{{ message }}
    </div>
    {% endfor %}
    </script>
    {% endif %}
    {% endwith %}

     {% block body %}
     {% endblock %}

      <hr>

      <footer>
      <p>Copyright &copy; 2013 Peter Rowlands | Powered by Steam | Powered by <a href="https://github.com/pmrowla/goonpug-stats">GoonPUG</a> </p>
      </footer>

    </div><!--/.container-->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/twitter-bootstrap-hover-dropdown.min.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("[rel=tooltip]").tooltip();
    });
</script>
  </body>
</html>
