{% extends "base.html" %}
{% block body %}
{% if g.player %}
<div class="row">
    <div class="span2">
        <p><strong>{{ g.player.nickname }}</strong></p>
    </div>
    <div class="span10">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th><a href="#" rel="tooltip" title="Rounds Played">RP</a></th>
                    <th><a href="#" rel="tooltip" title="Rounds Won">W</a></th>
                    <th><a href="#" rel="tooltip" title="Rounds Lost">L</a></th>
                    <th><a href="#" rel="tooltip" title="Kills">K</a></th>
                    <th><a href="#" rel="tooltip" title="Assists">A</a></th>
                    <th><a href="#" rel="tooltip" title="Deaths">D</a></th>
                    <th><a href="#" rel="tooltip" title="Bomb plants">BP</a></th>
                    <th><a href="#" rel="tooltip" title="Bomb defuses">BD</a></th>
                    <th><a href="#" rel="tooltip" title="3 Kill Rounds">3K</a></th>
                    <th><a href="#" rel="tooltip" title="4 Kill Rounds">4K</a></th>
                    <th><a href="#" rel="tooltip" title="5 Kill Rounds (Aces)">5K</a></th>
                    <th><a href="#" rel="tooltip" title="1v2 Wins">1v2</a></th>
                    <th><a href="#" rel="tooltip" title="1v3 Wins">v3</a></th>
                    <th><a href="#" rel="tooltip" title="1v4 Wins">v4</a></th>
                    <th><a href="#" rel="tooltip" title="Headshot Percentage">HSP</a></th>
                    <th><a href="#" rel="tooltip" title="Average Damage per Round">ADR</a></th>
                    <th><a href="#" rel="tooltip" title="Kills per Round">KPR</a></th>
                    <th><a href="#" rel="tooltip" title="Average Round Win Shares">RWS</a></th>
                </tr>
            </thead>
            <tr>
                <td>{{ g.stats.rounds_played }}</td>
                <td>{{ g.stats.rounds_won }} </td>
                <td>{{ g.stats.rounds_lost }} </td>
                <td>{{ g.stats.frags }}</td>
                <td>{{ g.stats.assists }}</td>
                <td>{{ g.stats.deaths }}</td>
                <td>{{ g.stats.plants }}</td>
                <td>{{ g.stats.defuses }}</td>
                <td>{{ g.stats.triples }}</td>
                <td>{{ g.stats.quads }}</td>
                <td>{{ g.stats.aces }}</td>
                <td>{{ g.stats.v2 }}</td>
                <td>{{ g.stats.v3 }}</td>
                <td>{{ g.stats.v4 }}</td>
                <td>{{ "%.3f"|format(g.stats.hsp) }}</td>
                <td>{{ "%.1f"|format(g.stats.adr) }}</td>
                <td>{{ "%.2f"|format(g.stats.fpr) }}</td>
                <td>{{ "%.1f"|format(g.stats.rws) }}</td>
            </tr>
        </table>
    </div>
</div>
{% else %}
<h3>No player matching that Steam ID</h3>
{% endif %}
{% endblock %}
