{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block body %}
<div class="row">
    <h1>Player Leaderboards</h1>
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Player</th>
                    <th><a href="#" rel="tooltip" title="Rounds Won">W</a></th>
                    <th><a href="#" rel="tooltip" title="Rounds Lost">L</a></th>
                    <th><a href="#" rel="tooltip" title="Kills">K</a></th>
                    <th><a href="#" rel="tooltip" title="Assists">A</a></th>
                    <th><a href="#" rel="tooltip" title="Deaths">D</a></th>
                    <th><a href="#" rel="tooltip" title="Bomb plants">BP</a></th>
                    <th><a href="#" rel="tooltip" title="Bomb defuses">BD</a></th>
                    <th><a href="#" rel="tooltip" title="3 Kill Rounds">3K</a></th>
                    <th><a href="#" rel="tooltip" title="4 Kill Rounds">4K</a></th>
                    <th><a href="#" rel="tooltip" title="5 Kill Rounds (Aces)">5K</a></th>
                    <th><a href="#" rel="tooltip" title="1v2 Wins">1v2</a></th>
                    <th><a href="#" rel="tooltip" title="1v3 Wins">v3</a></th>
                    <th><a href="#" rel="tooltip" title="1v4 Wins">v4</a></th>
                    <th><a href="#" rel="tooltip" title="Headshot Percentage">HSP</a></th>
                    <th><a href="#" rel="tooltip" title="Average Damage per Round">ADR</a></th>
                    <th><a href="#" rel="tooltip" title="Kills per Round">KPR</a></th>
                    <th><a href="#" rel="tooltip" title="Average Round Win Shares">RWS</a></th>
                </tr>
            </thead>
            {% for item in g.pagination.items %}
            <tr>
                <td><a href="{{ url_for('player', player_id=item.player_id) }}">{{ item.nickname }}</a></td>
                <td>{{ item.rounds_won }}</td>
                <td>{{ item.rounds_lost }}</td>
                <td>{{ item.frags }}</td>
                <td>{{ item.assists }}</td>
                <td>{{ item.deaths }}</td>
                <td>{{ item.bomb_planted }}</td>
                <td>{{ item.bomb_defused }}</td>
                <td>{{ item.k3 }}</td>
                <td>{{ item.k4 }}</td>
                <td>{{ item.k5 }}</td>
                <td>{{ item.won_1v3 }}</td>
                <td>{{ item.won_1v4 }}</td>
                <td>{{ item.won_1v5 }}</td>
                <td>{{ "%.3f"|format(item.headshots / item.frags) }}</td>
                <td>{{ "%.1f"|format(item.damage / (item.rounds_won + item.rounds_lost)) }}</td>
                <td>{{ "%.2f"|format(item.frags / (item.rounds_won + item.rounds_lost)) }}</td>
                <td>{{ "%.1f"|format(item.rws) }}</td>
            </tr>
            {% endfor %}
        </table>
        {{ macros.render_pagination(g.pagination, 'stats') }}
</div>
{% endblock %}
